$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

canvas {
    background: black;
}

#game {
    min-height: 500px;
}

#game.fullscreen {
    width: 100%;
}

#stats-container {
    margin: 0;
    position: fixed;
    top: 1em;
    right: 0;
}

#stats-container div {
    width: 115px;
}

#options {
    background: black;
    padding: 5px;
    color: whitesmoke;
}
